<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/socoEventAppServer/src/com/soco/event/server/EventAppServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.soco.event.server.EventAppServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="socoEventAppServer"/>
</launchConfiguration>
