<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soco.SoCoClient" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".control.SocoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-7cfm4ur90xw54pv" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.dashboard.DashboardActivity"
            android:label="@string/title_dashboard"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".view.ui.project.list.ShowInactiveProjectsActivity"
            android:label="@string/title_activity_show_inactive_projects"
            android:launchMode="singleTop" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCZmxbgzgDM4ncl6A8BWtw5AujhuAGPZ60" />

        <activity
            android:name=".view.ui.config.ProfileActivity"
            android:label="@string/title_activity_profile">
        </activity>
        <activity
            android:name=".view.ui.config.ServerConfigActivity"
            android:label="@string/title_activity_server_config" >
        </activity>
        <activity
            android:name=".zz.ShowSharedFilesActivity"
            android:label="@string/title_activity_show_shared_files" >
        </activity>

        <service
            android:name=".control.dropbox.UploaderWatcher"
            android:enabled="true" />
        <service
            android:name=".control.http.service.HeartbeatService"
            android:enabled="true" />

        <activity
            android:name=".view.ui.project.single.ProjectLocationActivity"
            android:label="@string/title_activity_project_location" >
        </activity>
        <activity
            android:name=".view.ui.project.single.ShowSingleProjectActivity"
            android:label="@string/title_show_single_project" >
        </activity>
    </application>

</manifest>
